@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://js.arcgis.com/4.26/esri/themes/light/main.css");
.App {
  text-align: center;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LogButton {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* NavBar */
.Nav {
  height: calc(0.13 * 100vh);
  background-color: rgba(197, 175, 155, 1);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}

.Nav .Title {
  font-size: 37px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
  margin-right: calc(0.3 * 100vw);
}

.Nav .Title:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.Nav .links {
  align-self: right;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:active {
  background-color: rgba(197, 175, 155, 1);
}

.LogButton:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.LogButton:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.unauthenticatedHome {
  margin-left: calc(0.1 * 100vw);
  margin-right: calc(0.03 * 100vw);
}
/* Home */
.Home {
  display: flex;
}

.Home img {
  height: calc(0.87 * 100vh);
  display: inline-block;
}

.Home .projectDescription {
  display: inline-block;
  margin-top: calc(0.1 * 100vh);
  margin-left: calc(0.05 * 100vw);
  margin-right: calc(0.08 * 100vw);
  line-height: 3.7ch;
  width: calc(0.5 * 100vw);
}

.Home .projectDescription h1 {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
  margin-top: calc(0.1 * 100vh);
  margin-right: calc(0.06 * 100vw);
}

.link :hover {
  color: black;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;
  width: 200px;
  margin-top: calc(0.03 * 100vh);

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 20px;
  line-height: 20px;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
  padding-right: calc(-0.03 * 100vw);
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
  padding-right: calc(-0.03 * 100vw);
}

.link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #f8f8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: calc(0.05 * 100vw);
  margin-top: calc(0.03 * 100vh);
  margin-left: calc(-0.025 * 100vw);

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
  color: black;
}

.link:hover .link-title2 {
  transform: rotate(0);
  color: black;
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fcf3ec;
}

.button {
  font-size: 10px;
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: absolute;
  padding: 0.2em 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  margin-bottom: 30px;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -0.5);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -0.5);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

.button img {
  height: calc(0.02 * 100vh);
}

/* .AddBurialForm {
  line-height: 1.9rem;
} */

.AddBurialForm label {
  margin-right: calc(0.01 * 100vw);
  padding-top: calc(0.008 * 100vh);
  font-weight: 500;
}

label {
  font-size: 14px;
}

.AddBurialForm input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

input {
  font-size: 14px !important;
}

.button-paper {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-paper:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.ModalHeader {
  background-color: rgba(194, 148, 107, 0.71);
}

.BurialTable {
  overflow: scroll;
  position: relative;
  font-size: 14px;
}

.BurialTableHead {
  padding-top: 100px;
}

.pagination a {
  display: block;
  margin-right: 5px;
  color: black;
}

.pagination a:hover {
  color: rgba(194, 148, 107, 0.71);
}

.BurialTableHead td {
  padding-top: 100px !important;
}

.BurialData th {
  padding-top: 100px;
}

.editColumn {
  width: 90px !important;
}

.Footer {
  height: calc(0.08 * 100vh);
  background-color: rgba(197, 175, 155, 1);
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 10px;
}
